version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "3001:3001"
    volumes:
      - ./data.json:/usr/src/app/data.json
      - ./backend/users.json:/usr/src/app/users.json

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
